.contact-container {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

.view-title {
    text-align: center;
    font-size: 29px;
    margin-top: 0;
    margin-bottom: 0;
}

.send-button {
    width: 150px;
    height: 40px;
}

.contact-container textarea {
    height: 180px !important;
}

.contact-container .form-group {
    margin-bottom: 20px;
}

.contact-container .form-group label {
    font-size: 16px;
}

.contact-container .contact-input {
    height: 40px;
    background-color: rgb(214, 221, 227);
    border-radius: 4px;
    border: medium none;
    color: black;
}